@model Model.Models.Candidato

@{
    ViewData["Title"] = "Details";
}
<body>
    <div class="div-details-ambos">
        <div>
            <h3 class="header-title">Perfil Candidato</h3>
            <hr class="divider" />
            <dl class="row details-list">
                @Html.HiddenFor(model => model.UserId)
                <dt class="col_texto">
                    @Html.DisplayNameFor(model => model.CPF)
                </dt>
                <dd class="col_conteudo">
                    @Html.DisplayFor(model => model.CPF)
                </dd>
                <dt class="col_texto">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col_conteudo">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col_texto">
                    @Html.DisplayNameFor(model => model.Telefone)
                </dt>
                <dd class="col_conteudo">
                    @Html.DisplayFor(model => model.Telefone)
                </dd>
                <dt class="col_texto">
                    @Html.DisplayNameFor(model => model.Endereco)
                </dt>
                <dd class="col_conteudo">
                    @Html.DisplayFor(model => model.Endereco)
                </dd>
            </dl>
        </div>
        <div class="action-links">
            @Html.ActionLink("Alterar", "Edit", new { cpf = Model.CPF }, new { @class = "btn-action" }) |
            @Html.ActionLink("Formação", "IndexListaPorCPF", "Formacao", new { cpf = Model.CPF }, new { @class = "btn-action" }) |
            @Html.ActionLink("Experiências", "Index", "Experiencia", new { cpf = Model.CPF }, new { @class = "btn-action" }) |
            @Html.ActionLink("Candidaturas", "Index", "Candidatura", new { cpf = Model.CPF }, new { @class = "btn-action" }) |
            @Html.ActionLink("Avaliações de Empresas", "Index", "Avaliacao", new { cpf = Model.CPF }, new { @class = "btn-action" }) |
            <a asp-action="Index" class="btn-action">Back to List</a>
        </div>
    </div>
</body>