
@model Model.Models.Candidatura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidatura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF_Candidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF_Candidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idVaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idVaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartaApresentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartaApresentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curriculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curriculo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    <a asp-action="Index">Back to List</a>
</div>
