@model IEnumerable<Model.Models.Vaga>

@{
    ViewData["Title"] = "IndexVagasEmpresa";
}


<div class="vagas-filtro">
    <h3 style="margin: 30px 0px 20px 0px">Filtro de Vagas</h3>
    <form asp-controller="Vaga" asp-action="Index" method="get">
        <p>
            <a class="btn btn-primary" asp-action="Create">Cadastrar Novo</a>
        </p>
        <div class="form-group-all">
            <div class="form-group">
                <label for="requisitos">Requisitos:</label>
                <select id="requisitos" name="requisitos" class="form-control">
                    <option value="">Qualquer</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="C#">C#</option>
                    <option value="SQL">SQL</option>
                </select>
            </div>

            <div class="form-group">
                <label for="areaAtuacao">Área de Atuação:</label>
                <select id="areaAtuacao" name="areaAtuacao" class="form-control">
                    <option value="">Qualquer</option>
                    <option value="TI">TI</option>
                    <option value="Telecomunicações">Telecomunicações</option>
                    <option value="DevOps">DevOps</option>
                </select>
            </div>

            <div class="form-group">
                <label for="modelo">Modelo de Trabalho:</label>
                <select id="modelo" name="modelo" class="form-control">
                    <option value="">Qualquer</option>
                    <option value="Presencial">Presencial</option>
                    <option value="Remoto">Remoto</option>
                    <option value="Híbrido">Híbrido</option>
                </select>
            </div>

            <div class="form-group">
                <label for="localizacao">Localização:</label>
                <select id="localizacao" name="localizacao" class="form-control">
                    <option value="">Qualquer</option>
                    <option value="Resende">Resende</option>
                    <option value="Porto Real">Porto Real</option>
                    <option value="Volta Redonda">Volta Redonda</option>
                </select>
            </div>

            <div class="form-group">
                <label for="tipoContrato">Tipo de Contrato:</label>
                <select id="tipoContrato" name="tipoContrato" class="form-control">
                    <option value="">Qualquer</option>
                    <option value="CLT">CLT</option>
                    <option value="PJ">PJ</option>
                    <option value="Freelancer">Freelancer</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-filter"></i>Filtrar</button>
    </form>
</div>

<div class="cards-vagas">
    <div class="column">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TituloVaga)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.CNPJ_Empresa)</h6>
                        <p class="card-text">
                            <strong>Descrição:</strong> @Html.DisplayFor(modelItem => item.Descricao)<br>
                            <strong>Requisitos:</strong> @Html.DisplayFor(modelItem => item.Requisitos)<br>
                            <strong>Área de Atuação:</strong> @Html.DisplayFor(modelItem => item.AreaAtuacao)<br>
                            <strong>Modelo:</strong> @Html.DisplayFor(modelItem => item.Modelo)<br>
                            <strong>Localização:</strong> @Html.DisplayFor(modelItem => item.Localizacao)<br>
                            <strong>Tipo de Contrato:</strong> @Html.DisplayFor(modelItem => item.TipoContrato)<br>
                        </p>
                        <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info">Detalhes</a>
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Deletar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
